* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_16 {
  width: 100%;
  height: 1117px;
  background: rgba(37,33,33,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_3 {
  width: 558px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 585px;
}
.v4_7 {
  width: 25px;
  height: 2px;
  background: rgba(63,63,63,1);
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 851px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_8 {
  width: 25px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 813px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_6 {
  width: 25px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 889px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_2 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_2.png");
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 457px;
}
.v4_20 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 676px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_21 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 895px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_22 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 1114px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_23 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 457px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_24 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 676px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_25 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 895px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_26 {
  width: 157px;
  height: 215px;
  background: url("../images/v4_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 1114px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_28 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1150px;
  border-radius: 50%;
}
.v4_30 {
  width: 17px;
  height: 23px;
  background: url("../images/v4_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1156px;
  overflow: hidden;
}
.v4_33 {
  width: 211px;
  height: 28px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 1437px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v4_44 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 1437px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_6 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 1559px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_9 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 1559px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_12 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 1437px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_15 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 1437px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_18 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 1559px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_21 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 1437px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v10_24 {
  width: 89px;
  height: 26px;
  background: rgba(56,56,56,1);
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 1559px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v4_55 {
  width: 586px;
  height: 242px;
  background: url("../images/v4_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 571px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  overflow: hidden;
}
.v4_57 {
  width: 586px;
  height: 242px;
  background: url("../images/v4_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 129px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  overflow: hidden;
}
.v4_56 {
  width: 586px;
  height: 242px;
  background: url("../images/v4_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 1271px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  overflow: hidden;
}
.v4_60 {
  width: 335px;
  color: rgba(180,180,180,1);
  position: absolute;
  top: 342px;
  left: 610px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v4_61 {
  width: 74px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 1052px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_62 {
  width: 50px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 350px;
  left: 1064px;
  font-family: Actor;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_63 {
  width: 2px;
  height: 499px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 1326px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_65 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 453px;
  left: 454px;
  font-family: Actor;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_77 {
  width: 206px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 450px;
  left: 61px;
  font-family: Actor;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_66 {
  width: 2px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 475px;
  left: 489px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v4_67 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 738px;
  left: 489px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_71 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1022px;
  left: 491px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_72 {
  width: 47px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1022px;
  left: 732px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_73 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1022px;
  left: 922px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_74 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1022px;
  left: 1160px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_68 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 738px;
  left: 686px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_70 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 738px;
  left: 1136px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_69 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 738px;
  left: 904px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v4_75 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 336px;
  left: 610px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_76 {
  width: 165px;
  height: 559px;
  background: rgba(34,34,34,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 61px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v6_78 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 569px;
  left: 1455px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_7 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 569px;
  left: 1577px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_10 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 612px;
  left: 1577px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_13 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 612px;
  left: 1455px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_16 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 655px;
  left: 1455px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_19 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 655px;
  left: 1577px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_22 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 698px;
  left: 1446px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_25 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 698px;
  left: 1577px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v6_79 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 569px;
  left: 1494px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_8 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 569px;
  left: 1616px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_11 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 612px;
  left: 1616px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_14 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 612px;
  left: 1494px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_17 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 655px;
  left: 1494px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_20 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 655px;
  left: 1616px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_23 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 698px;
  left: 1494px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_26 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 698px;
  left: 1616px;
  font-family: Almarai;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_27 {
  width: 38px;
  color: rgba(106,106,106,1);
  position: absolute;
  top: 526px;
  left: 1455px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v10_28 {
  width: 140px;
  color: rgba(106,106,106,1);
  position: absolute;
  top: 35px;
  left: 610px;
  font-family: Almarai;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v11_29 {
  width: 98px;
  height: 73px;
  background: url("../images/v11_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 485px;
  overflow: hidden;
}
.v12_33 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 103px;
  overflow: hidden;
}
.v12_31 {
  width: 650px;
  height: 650px;
  background: url("../images/v12_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 602px;
  overflow: hidden;
}
.v12_35 {
  width: 776px;
  height: 206px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 463px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v12_34 {
  width: 727px;
  color: url("../images/v12_34.png");
  position: absolute;
  top: 817px;
  left: 496px;
  font-family: Akshar;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
